<h5>ขนส่งเชื่อมอัตโนมัติ</h5>
<p>ระบบจะจองขนส่ง พร้อมออกเลขพัสดุให้ทันทีเมื่อทำการสั่งซื้อสำเร็จ รองรับการส่งจากพาร์ทเนอร์หลายค่าย</p>

<div>
    <div>
        การแสดงผล
        <div class="row">
            <div>
                <nz-avatar [nzShape]="'square'" [nzSize]="64"></nz-avatar>
            </div>
            <div>
                ชื่อค่ายขนส่ง
                <nz-list nzBordered nzSize="small">
                    <nz-list-header>Name Delivery</nz-list-header>
                </nz-list>
            </div>
        </div>

        <div>
            <h6>ขนส่งอัตโนมัติที่ต้องการเชื่อม</h6>
            <p>เลือกขนส่ง</p>
            <nz-select ngModel="ไม่ระบุค่าย">
                <nz-option nzValue="ไม่ระบุค่าย" nzLabel="ไม่ระบุค่าย">ไม่ระบุค่าย</nz-option>
                <nz-option nzValue="option2" nzLabel="option2">option2</nz-option>
                <nz-option nzValue="option3" nzLabel="option3">option3</nz-option>
            </nz-select>
            <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>ไม่ระบุค่าย ผู้ขายเป็นผู้เลือกค่ายส่งเองภายหลัง</p>
        </div>

        <div>
            <div>
                <h6>บริการเก็บเงินปลายทาง</h6>
                <div></div>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>