<h5>ขนส่งเชื่อมอัตโนมัติ</h5>
<p>ระบบจะจองขนส่ง พร้อมออกเลขพัสดุให้ทันทีเมื่อทำการสั่งซื้อสำเร็จ รองรับการส่งจากพาร์ทเนอร์หลายค่าย</p>

<div class="row">
    <div class="col-6" style="border-right: 1px solid #e6e6e6;">
        <h6>การแสดงผล</h6>
        <div class="row ml-1">
            <div class="mr-3">
                <nz-avatar [nzShape]="'square'" [nzSize]="120"></nz-avatar>
            </div>
            <div>
                <p>ชื่อค่ายขนส่ง</p>
                <nz-list nzBordered style="height: 47px; width: 371px; font-size: 14px; font-weight: bold; border-radius: 5px;">
                    <nz-list-header>Name Delivery</nz-list-header>
                </nz-list>
            </div>
        </div>
        
        <nz-divider></nz-divider>

        <div>
            <h6>ขนส่งอัตโนมัติที่ต้องการเชื่อม</h6>
            <p>เลือกขนส่ง</p>
            <nz-select ngModel="ไม่ระบุค่าย" class="select-bordercustom">
                <nz-option nzValue="ไม่ระบุค่าย" nzLabel="ไม่ระบุค่าย">ไม่ระบุค่าย</nz-option>
                <nz-option nzValue="option2" nzLabel="option2">option2</nz-option>
                <nz-option nzValue="option3" nzLabel="option3">option3</nz-option>
            </nz-select>
            <p><i nz-icon nzType="info-circle" nzTheme="outline" class="mr-2"></i>ไม่ระบุค่าย ผู้ขายเป็นผู้เลือกค่ายส่งเองภายหลัง</p>
        </div>

        <nz-divider></nz-divider>

        <div>
            <div class="row pl-3 pr-3 mb-2 justify-content-between">
                <div class="row">
                    <h6 class="ml-3 mr-3">บริการเก็บเงินปลายทาง</h6>
                    <nz-tag class="premium">PREMIUM</nz-tag>
                </div>
                <div style="margin-top: 0px;">
                    <nz-switch [ngModel]="true" nzCheckedChildren="ON" nzUnCheckedChildren="OFF"></nz-switch>
                </div>
            </div>
            <p>COD ผู้ซื้อชำระค่าสินค้ากับพนักงานส่งของที่ปลายทางก่อนจะได้รับสินค้า</p>
            <p>ค่าธรรมเนียม</p>
            <div class="row pl-3 pr-3">
                <nz-input-group nzCompact>
                    <nz-input-number [ngModel]="0" [nzMin]="0" [nzStep]="1" style="
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    ">
                    </nz-input-number>
                    <nz-select class="select-custom" ngModel="บาท" style="
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    ">
                        <nz-option nzValue="บาท" nzLabel="บาท"></nz-option>
                        <nz-option nzValue="option2" nzLabel="option2"></nz-option>
                    </nz-select>
                </nz-input-group>
            </div>
        </div>

        <nz-divider></nz-divider>
    </div>

    <div class="col-6">
        <div class="mb-3">
            <h6>กำหนดราคาขนส่ง</h6>
            <p>เลือกวิธีกำหนดราคา</p>
            <nz-select class="select-bordercustom"ngModel="ใช้ค่าส่งตามจริง" style="height: 32px; width: 235px;">
                <nz-option nzValue="ใช้ค่าส่งตามจริง" nzLabel="ใช้ค่าส่งตามจริง"></nz-option>
                <nz-option nzValue="option2" nzLabel="option2"></nz-option>
                <nz-option nzValue="option3" nzLabel="option3"></nz-option>
            </nz-select>
            <nz-alert class="alert-weight" nzType="info"
                nzMessage="ใช้ค่าส่งตามจริง สามารถเพิ่ม Top up กับราคาขนส่งตามจริงได้ ตัวอย่างเช่น สินค้ามีน้ำหนัก 100 กรัม มีค่าจัดส่งจริง 20฿ หากเพิ่ม Top up 10฿ จะแสดงค่าส่งทั้งหมด 30฿"
                nzShowIcon>
            </nz-alert>
        </div>

        <div>
            <p>ราคาตามช่วงน้ำหนัก</p>
            <div>
                <div>
                    <div class="row pl-3 pr-3">
                        <div class="col-6 p-0">
                            <p>ช่วงน้ำหนัก <span>(กรัม)</span></p>
                        </div>
                        
                        <div class="col-6">
                            <p>Top Up <span>(บาท)</span></p>
                        </div>
                    </div>
                    <div class="row mb-3" style="
                        padding: 5px;
                        margin: 0px;
                        box-shadow: 1px 1px 5px 1px #0000001f;
                        border-radius: 5px;
                        ">
                        <div class="col-6 p-0">
                            <nz-input-group nzCompact style="
                            display: flex;
                            ">
                                <nz-input-number ngModel="0" [nzMin]="0" [nzStep]="1" style="
                                        width: 100px; 
                                        font-weight: bold;
                                        border-top-left-radius: 5px;
                                        border-bottom-left-radius: 5px;
                                    ">
                                </nz-input-number>
                                
                                <input class="text-center" type="text" nz-input placeholder="-" [disabled]="true" style="
                                    width: 35px;
                                    cursor: default;
                                "/>
                                
                                <nz-input-number ngModel="0" [nzMin]="0" [nzStep]="1" style="
                                        width: 100px; 
                                        font-weight: bold;
                                        border-top-right-radius: 5px;
                                        border-bottom-right-radius: 5px;
                                    ">
                                </nz-input-number>
                            </nz-input-group>
                        </div>
                        <div class="col-6 p-0">
                            <div style="display: flex; padding-left: 15px;">
                                <input ngModel="30" type="text" nz-input class="mr-5" style="
                                    width: 100px;
                                    height: 32px;
                                    font-weight: bold;
                                    border-radius: 5px;
                                    "/>
                                <div style="
                                    margin: 4px 0px;
                                    padding: 1px 5px;
                                    background: #e6e6e6;
                                    border-radius: 5px;
                                ">
                                    <i class="fas fa-trash" style="cursor: pointer;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>

        <div style="text-align: center; border-radius: 5px;" class="weight col-12">
            <button nz-col nz-button nzType="default" style="border-radius: 5px;"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                เพิ่มช่วงน้ำหนัก
            </button>
        </div>

    </div>
</div>