:root {
    --poppins: 'Poppins', sans-serif;
}

nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
}

.weight {
    border: 1px dashed #ccc;
    padding: 10px 0px;
}

h5 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.alert-weight {
    width: 474px;
    height: 62;
}

.premium {
    color: whitesmoke;
    background: linear-gradient(to right, rgba(232,35,35,1), rgba(249,142,76,1));
    font-size: 10px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    height: 18px;
    margin-top: 3px;
    border: inherit;
    border-radius: 5px;
}