* {
    font-family: 'Kanit', sans-serif;
}

nz-select {
    margin: 0 8px 10px 0;
    width: 120px;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.pirnter-icon {
    color: #e85440;
}