<ul nz-menu nzMode="inline">
    <li nz-submenu nzTitle="Menu1">
        <ul>
            <li nz-menu-item>submenu1</li>
            <li nz-menu-item>submenu2</li>
            <li nz-menu-item>submenu3</li>
        </ul>
    </li>
    <li nz-submenu nzSelected nzTitle="Setting">
        <ul>
            <li nz-menu-item>E-commerce</li>
            <li nz-menu-item nzSelected>Delivery</li>
            <li nz-menu-item>Payment</li>
            <li nz-menu-item>Notifications</li>
            <li nz-menu-item>Email Template</li>
            <li nz-menu-item>SEO</li>
            <li nz-menu-item>PDPA</li>
            <li nz-menu-item>Conversion Tools</li>
        </ul>
    </li>
</ul>